*.tar.gz

*.exe
*.pdb
src/aether
src/aetherd
src/aether-cli
src/aether-gui
src/aether-node
src/aether-tx
src/aether-util
src/aether-chainstate
src/aether-wallet
src/test/fuzz/fuzz
src/test/test_aether
src/qt/test/test_aether-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.cache
config.log
config.status
configure
libtool
src/config/aether-config.h
src/config/aether-config.h.in
src/config/stamp-h1
src/obj
share/setup.nsi
share/qt/Info.plist

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

src/qt/aether-qt.config
src/qt/aether-qt.creator
src/qt/aether-qt.creator.user
src/qt/aether-qt.files
src/qt/aether-qt.includes

.deps
.dirstamp
.libs
.*.swp
*~
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.a
*.pb.cc
*.pb.h
*.dat

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Only ignore unexpected patches
*.patch
!contrib/guix/patches/*.patch
!depends/patches/**/*.patch

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
!depends/Makefile
src/qt/aether-qt
Aether-Qt.app

# Qt Creator
Makefile.am.user

# Unit-tests
Makefile.test
aether-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

# Previous releases
releases

#lcov
*.gcno
*.gcda
/*.info
test_aether.coverage/
total.coverage/
fuzz.coverage/
coverage_percent.txt
/cov_tool_wrapper.sh
qa-assets/

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*
test/.mypy_cache/

!src/leveldb*/Makefile

/doc/doxygen/

libaetherconsensus.pc
contrib/devtools/split-debug.sh

# Output from running db4 installation
db4/

# clang-check
*.plist

osx_volname
dist/

/guix-build-*

/ci/scratch/
